.navbar{
  background-color: #F8F8F8;
  width: 100%;
  z-index: 5;
}
.navItems{
  min-width: 100px;
}

.dash{
  width: 100%;
  height: 1%;
  background-color: rgba(21, 21, 21, 0.901);
}

@media (max-width: 810px) {
   .navbar{
    display: flex;
    flex-direction: column;
    max-height: 65px;
    overflow-y: scroll;
  scroll-behavior: smooth;;
   }
   .navbar::-webkit-scrollbar{
    display: none;
   }
}